<!DOCTYPE root[<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT sEOContent ANY>
<!ATTLIST sEOContent id ID #REQUIRED>
<!ELEMENT basePage ANY>
<!ATTLIST basePage id ID #REQUIRED>
<!ELEMENT blogPost ANY>
<!ATTLIST blogPost id ID #REQUIRED>
]>
<root id="-1">
  <home id="1084" key="e6df3f92-0597-4fec-8b52-b4a79b0652f0" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2018-11-14T20:14:19" updateDate="2018-11-14T20:20:19" nodeName="Home" urlName="home" path="-1,1084" isDoc="" nodeType="1083" creatorName="Trine og Kasper" writerName="Trine og Kasper" writerID="0" template="1082" nodeTypeAlias="home" isPublished="false">
    <button><![CDATA[Your slider buttons.]]></button>
    <description><![CDATA[Your Types. Your Style. Your Color.]]></description>
    <title><![CDATA[Hair salon website templates free download]]></title>
  </home>
  <blogPost id="1085" key="10739c41-8b7d-4db6-bd62-12f8751d57c1" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2018-11-14T20:18:47" updateDate="2018-11-14T20:18:47" nodeName="Blog" urlName="blog" path="-1,1085" isDoc="" nodeType="1074" creatorName="Trine og Kasper" writerName="Trine og Kasper" writerID="0" template="1073" nodeTypeAlias="blogPost" isPublished="true">
    <image><![CDATA[umb://media/8bb884fed20e466c9901616b32278b16]]></image>
    <title><![CDATA[Responsive website templates free download for business]]></title>
    <body><![CDATA[<p><span>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </span></p>]]></body>
    <summary><![CDATA[Responsive <a href="https://easetemplate.com/downloads/category/free-website-template/">website templates free download</a> for business intervention rabitur ante lorem ipsumporta ces convallis is physical medicine of the pain diagnosisognosis.]]></summary>
  </blogPost>
</root>