@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h1 class="hero-title">@Umbraco.Field("title")</h1>
                <p class="hero-text"><strong>@Umbraco.Field("description")</strong> </p>
                <a href="#" class="btn btn-default">@Umbraco.Field("button")</a></div>
        </div>
    </div>
</div>