@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    @Html.Partial("Navigation")
    @RenderBody()
    @Html.Partial("Footer")
</body>
</html>