@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="/Assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Assets/css/style.css" rel="stylesheet">
</head>
<body>
    @Html.Partial("Navigation")
    @RenderBody()
    @Html.Partial("Footer")
</body>
</html>