@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <a href="index.html"><img src="/assets/images/logo.png" alt="Hair Salon Website Templates Free Download"></a>
            </div>
            <div class="col-lg-8 col-md-4 col-sm-12 col-xs-12">
                <div class="navigation">
                    <div id="navigation">
                        <ul>
                            @foreach (var page in Model.Content.Site().Siblings())
                            {
                                if (page.Id == Model.Content.Id)
                                {
                                    <li class="active"><a href="@page.Url">@page.Name</a></li>
                                }
                                else
                                {
                                    <li><a href="@page.Url">@page.Name</a></li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>